.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e293b;
}

.register-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

.register-box input,
.register-box select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
}