.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: orange;
  border: none;
  color: white;
}